# Node modules
node_modules
package-lock.json

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/*.sqlite

# VSCode & Webstorm history directories
.history
.idea
.vs/slnx.sqlite
.vs/maxi-quiz/v16/.suo
.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
.vs/slnx.sqlite-journal
.vs/slnx.sqlite-journal
